@model MusicStore.Models.Album

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
           @{
                string[] Catogries = { "","Rock", "Classical", "Jazz", "POP", "Disco", "Latin", "Metal", "Reggae", "Blues" };
                SelectList obj = new SelectList(Catogries);
            }
            @Html.DropDownListFor(model => model.CategoryName,obj)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistName)
        </div>
        <div class="editor-field">
           @{
    string[] ArtistName = { "","Raj Lata", "Himanshu Reshamwala", "Vishva Shaker", "Shreen Ghoshal", "Manika", "Sunita Chauhan", "Soniya Nigam" };
                SelectList Aobj = new SelectList(ArtistName);
            }
            @Html.DropDownListFor(model => model.ArtistName,Aobj)
            @Html.ValidationMessageFor(model => model.ArtistName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitPrice)
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
